html {
    background: #e6e6e6 url('../images/bg.png');
    margin:  0;
    padding: 0;
    position:   absolute;
    top:    0px;
    left:   0px;
    right:  0px;
    bottom: 0px;
}

body {
    margin:                 0;
    padding:                0 0 50px 0;
    background-image:       url('../images/fullheader.gif');
    background-position:    center 20px;
    background-repeat:      no-repeat;
}

.postblock {
    width:       640px;
    padding:     10px 20px;
    margin:      415px auto 0 auto;
    font-family: monospace;
    font-size:   16px;
    color:       #eee;
    background:  #222;
	text-rendering:         optimizeLegibility; 
	letter-spacing:         0;
	line-height:            22px;
}

#home {
    position:               absolute;
    top:                    60px;
    left:                   50%;
    right:                  50%;
    margin-left:            -325px;
    width:                  650px;
    height:                 330px;
}

a {
    position:               absolute;
	top:                    445px;
	left:                   50%;
    margin-left:            142px;
    width:                  222px;
	font-size:              13px;
	font-family:            Helvetica, Arial, sans-serif;
	font-weight:            200;
	text-rendering:         optimizeLegibility; 
	letter-spacing:         0;
	line-height:            23px;
    color:                  #333;
    text-decoration:        none;
}

/* hexidecimal value for orange in header */
a:hover {
    color:                  #ff9000;
}

/* menu style */
#s2id_e1 {
	top:                    385px;
	left:                   50%;
    margin-left:            94px;
    width:                  222px;
	font-size:              18px;
	font-family:            Helvetica, Arial, sans-serif;
	font-weight:            200;
	text-rendering:         optimizeLegibility; 
}

.select2-results {
	font-size:              14px;
	font-family:            Helvetica, Arial, sans-serif;
	font-weight:            200;
	text-rendering:         optimizeLegibility; 
}

.select2-results .select2-highlighted {
    background:                  #333;
}

.select2-container-multi.select2-container-active .select2-choices {
    border:               1px solid #aaa;
}
/* class names for menu
select2-container select2-container-multi select2-dropdown-open

id name for whole group of classes
s2id_e1





