body {
    background:             #e6e6e6;
    background-image:       url('../images/bg.png');
    margin:                 0px;
    padding:                0px;
    height:                 100%;
}

/*classes for squares under title*/
.underline-black {
    width:                  870px;
    position:               relative;
    padding-left:           7px;
}

.underline-orange {
    width:                  870px;
    position:               absolute;
    padding-top:            5px;
    padding-left:           2px;
}

.black {
    background-color:       #000;
    
}

.orange {
    background-color:       #ff9000;
}

span {
    width:                  20px;
    height:                 20px;
    margin:                 5px;
    float:                  left;
}

#block {
    width:                  850px;
    position:               fixed;
    top:                    0px;
    bottom:                 0px;
    left:                   50%;
    margin-left:            -425px;
    background-image:       url("../images/block.png");
    background-repeat:      repeat-y;
}

h1, p {
	font-family:            Arial, sans-serif;
	font-weight:            100;
	text-rendering:         optimizeLegibility; 
	letter-spacing:         5;

}

h1 {
	font-size:              90px;
    text-align:             center;
    margin:                 0px;
    line-height:            170px;
    text-shadow:            -5px 5px 0px #ff9000;
}

p {
    font-size:              18px;
    text-align:             left;
    clear:                  both;
    padding-top:            20px;
    padding-left:           30px;
    padding-right:          30px;
    padding-bottom:         0px;
    line-height:            28px;
}

